#tittelBoks{
    width: 100%;
    height: 200px;  
    background-color: red;  
}

h1{
    font-size: 20px;
    text-align: center;
    font-family: fantasy;
    color: white;
    float: left;
    margin-left: 10%;

}

